# .gitignore for rockauto-api-open Python project

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
coverage_html_report/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# profiling data
.prof

# IDEs and editors
## VS Code
.vscode/
## PyCharm
.idea/
## Sublime Text
*.sublime-project
*.sublime-workspace
## Emacs backup files
*~
## Vim swap files
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Local environment variables
.env
.env.*